*.o
*.a

d/compendium.aux
d/compendium.log
d/compendium.lot
d/compendium.pdf
d/compendium.toc
src/main/assembler/naia
src/main/compiler/naic
src/main/engine/naie
src/main/naigama/naig

src/grammar/assembly.byc.labelmap
src/grammar/grammar.byc.labelmap
