{
  prepare => './prepare.sh',
  finish  => './finish.sh',
  success => './success.sh',

  duration => 16,

  nodes => {

    leftclient => {
      interfaces => {
        eth0 => {
          connection => { node => 'leftproxy', interface => 'eth0' },
          ip => '192.168.1.20/24',
        },
      },
      tests => [
        {
          exe => 
            'curl -F file=@/tmp/test.xml http://192.168.1.1:9090/upload 2>/tmp/log1',
          start => 4
        },
      ],
    },

    leftproxy => {
      interfaces => {
        eth0 => {
          connection => { node => 'leftclient', interface => 'eth0' },
          ip => '192.168.1.1/24',
        },
        eth1 => {
          connection => { node => 'filter', interface => 'eth0' },
          ip => '169.254.1.1/24',
        },
      },
      tests => [
        {
          exe => '[SYSTEMTESTROOT]/bin/httpd.pl /tmp/leftspool 2>/tmp/log2',
          start => 1
        },
        {
          exe => '[SYSTEMTESTROOT]/bin/pusher.pl /tmp/leftspool/in http://169.254.1.2:9090/upload 2>/tmp/log3',
          start => 1
        },
        {
          exe => '[SYSTEMTESTROOT]/bin/fetcher.pl http://169.254.1.2:9090 /tmp/leftspool/out 2>/tmp/log3a',
          start => 1
        },
      ],
    },

    filter => {
      interfaces => {
        eth0 => {
          connection => { node => 'leftproxy', interface => 'eth1' },
          ip => '169.254.1.2/24',
        },
        eth1 => {
          connection => { node => 'rightproxy', interface => 'eth1' },
          ip => '169.254.2.2/24',
        },
      },
      tests => [
        {
          exe => '[SYSTEMTESTROOT]/bin/filter.pl 169.254.1.2 /tmp/right/in /tmp/left/in 2>/tmp/log4',
          start => 1
        },
        {
          exe => '[SYSTEMTESTROOT]/bin/filter.pl 169.254.2.2 /tmp/left/in /tmp/right/in 2>/tmp/log5',
          start => 1
        },
      ],
    },

    rightproxy => {
      interfaces => {
        eth0 => {
          connection => { node => 'rightclient', interface => 'eth0' },
          ip => '192.168.2.1/24',
        },
        eth1 => {
          connection => { node => 'filter', interface => 'eth1' },
          ip => '169.254.2.1/24',
        },
      },
      tests => [
        {
          exe => '[SYSTEMTESTROOT]/bin/httpd.pl /tmp/rightspool 2>/tmp/log6',
          start => 1
        },
        {
          exe => '[SYSTEMTESTROOT]/bin/pusher.pl /tmp/rightspool/in http://169.254.2.2:9090/upload 2>/tmp/log7',
          start => 1
        },
        {
          exe => '[SYSTEMTESTROOT]/bin/fetcher.pl http://169.254.2.2:9090 /tmp/rightspool/out 2>/tmp/log7a',
          start => 1
        },
      ],
    },

    rightclient => {
      interfaces => {
        eth0 => {
          connection => { node => 'rightproxy', interface => 'eth0' },
          ip => '192.168.2.20/24',
        },
      },
      tests => [
        {
          exe => 
            'curl -s -o /dev/null http://192.168.2.1:9090/list >/tmp/list 2>/tmp/log8',
          start => 8
        },
      ],
    },

  }
};
